# ============================================================
# Events
# ============================================================
{% for event in events %}{{event}}
{% endfor %}

# ============================================================
# States
# ============================================================
{% for state in states %}{{state}}
{% endfor %}